*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Bebas Neue;
}

header{
    width: 100%;
    height: 90px;
    background-color: #75CFB8;
}

header.woop{
    background-color: #75CFB8;
}

.interior{
    max-width: 100%;
    padding: 0 10px;
    margin: auto;
}
.logo{
    float: left;
    padding: 9px 30px 0;
}
.logo img{
    height: 70px;
    border-radius: 100px;
}
.logo img:hover{
    transform: scale(1.1);
}
.navegacion{
    float: right;
    display: flex;
    align-items: center;
    min-height: 90px;
    z-index: 1000;
}
.navegacion ul{
    list-style: none;
    padding: 0 10px;
}

.navegacion ul li{
    display: inline-block;
    position: relative;
    transition: .3s linear;
    z-index: 1000;
}
.navegacion ul li:hover{
    transform: scale(1.1);
}
.navegacion ul li a{
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    padding: 12px 30px;
    transition: .3s linear;
}
.navegacion ul li a:hover{
    transform: scale(1.1);
}

.buscar2{
    width: 600px;
    height: 40px;
    margin: 0px ;
    padding: 0 20px;
    font-size: 25px;
    color: black;
    outline: none;
    border-radius: 100px;
}

.foto{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background:url(../img/salon.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.contenido{
    margin-left: 470px;
    margin-right: 470px;
    width: 10000px;
    height: 250px;
    background-color: black;
    text-align: center;
    color: white;
    justify-content: center;
}

.contenido h1{
    font-size: 96px;
}

.contenido h2{
    font-size: 64px;
}

.centrosec{
    display: flex;
    justify-content: space-between;
    padding: 50px 220px;
}

.centrosec h1 {
    font-size: 32px;
    padding: 25px;
    text-align: center;
    text-decoration: none;
}

.centrosec p {
    font-size: 15;
    padding: 25px;
    text-align: center;
    text-decoration: none;
}

.centrosec img {
    border-radius: 100%;
    padding: 0px 70px;
}

.centrosec img:hover{
    transition: .3s linear;
    transform: scale(1.1);
}

.centrosec h1:hover{
    transition: .3s linear;
    transform: scale(1.1);
}

.abajosec{
    background-color: #FFD495;
    display: flex;
    justify-content: space-between;
    padding: 20px 220px;
}

.abajosec h1 {
    font-size: 32px;
    text-align: center;
    text-decoration: none;
}

.abajosec p{
    font-size: 15;
    text-align: center;
    text-decoration: none;
}

.abajosec ul li{
    list-style: none;
    text-align: center;
}

.tired{
    text-align: center;
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
}

.tired i{
    color: black;
    font-size: 30px;
}

.proveer{
    margin-top: 50px;
}

.mapa iframe:hover{
    transition: .3s linear;
    transform: scale(1.1);
}

.tired:hover{
    transition: .3s linear;
    transform: scale(1.1);
}

iframe{
    border-radius: 20px;
}

footer{
    display: flex;
    padding: 0px 0px 0px 720px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}