.error-container {
    display: flex;
    flex-direction: column;
	width: 80%;
	margin: 0 auto;
	text-align: center;
    margin-top: 100px;
}

h1 {
	font-size: 3em;
	margin-bottom: 20px;
}

p {
	font-size: 1.5em;
	margin-bottom: 20px;
}

a{
    background-color: #FAAB78;
    font-size: 35px;
    border-radius: 50px;
    color: white;
    margin-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
}